################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/TestProject1/bin/Debug/net8.0
/ConsoleApp1/TestProject1/obj/Debug/net8.0
/ConsoleApp1/TestProject1/obj
